In [30]:
import pandas as pd
data = pd.read_csv('2010_NFL_Passing.csv')
data.head()

            Player   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1  4QC  GWD
0  Peyton Manning*  IND  QB  450  679  4700  33  17  73  16    91    0    2
1      Drew Brees*  NOR  QB  448  658  4620  33  22  80  25   185    4    5
2     Sam Bradford  STL  QB  354  590  3512  18  15  49  34   244  NaN  NaN
3    Carson Palmer  CIN  QB  362  586  3970  26  20  78  26   201    1    1
4      Matt Schaub  HOU  QB  365  574  4370  24  12  60  32   226    2    2

In [31]:
data.shape

(105, 13)

In [32]:
data.isnull().sum()

Player     0
Tm         0
Pos       52
Cmp        0
Att        0
Yds        0
TD         0
Int        0
Lng        0
Sk         0
Yds.1      0
4QC       62
GWD       62
dtype: int64

In [33]:
data.fillna(0, inplace=True)

In [34]:
data.isnull().sum()

Player    0
Tm        0
Pos       0
Cmp       0
Att       0
Yds       0
TD        0
Int       0
Lng       0
Sk        0
Yds.1     0
4QC       0
GWD       0
dtype: int64

In [35]:
import re
PlayerName = []
for i in data['Player']:
    i = re.sub('[^A-Za-z0-9]+','',i)
    PlayerName.append(i)

In [ ]:
# Comparisons to be made
# LAST 10 Years

Drew Brees      
Tom Brady
Aaron Rodgers

In [ ]:
# Comparisons to be made
#  2001 - 2015

Peyton Manning    
Tom Brady

In [ ]:
# ALL Time  Duels

Eli Manning 
Tom Brady

In [ ]:
# All Time Duels

Tom Brady 
Drew Brees

In [ ]:
# 2019 Season Best QBs

Lamar Jackson
Patrick Mahomes
Jared Goff
Tom Brady
Aaron Rodgers
Jimmy G
Deshaun Watson
Drew Brees

In [37]:
data['Player_Name'] = PlayerName

In [39]:
data.head()

,Player,Tm,Pos,Cmp,Att,Yds,TD,Int,Lng,Sk,Yds.1,4QC,GWD,Player_Name
0,Peyton Manning*,IND,QB,450,679,4700,33,17,73,16,91,0,2,PeytonManning
1,Drew Brees*,NOR,QB,448,658,4620,33,22,80,25,185,4,5,DrewBrees
2,Sam Bradford,STL,QB,354,590,3512,18,15,49,34,244,0,0,SamBradford
3,Carson Palmer,CIN,QB,362,586,3970,26,20,78,26,201,1,1,CarsonPalmer
4,Matt Schaub,HOU,QB,365,574,4370,24,12,60,32,226,2,2,MattSchaub

In [40]:
data = data.drop(data.columns[0], axis=1)

In [42]:
data.head()

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name
0  IND  QB  450  679  4700  33  17  73  16    91   0   2  PeytonManning
1  NOR  QB  448  658  4620  33  22  80  25   185   4   5      DrewBrees
2  STL  QB  354  590  3512  18  15  49  34   244   0   0    SamBradford
3  CIN  QB  362  586  3970  26  20  78  26   201   1   1   CarsonPalmer
4  HOU  QB  365  574  4370  24  12  60  32   226   2   2     MattSchaub

In [52]:
QB = ['PeytonManning','DrewBrees','TomBrady','AaronRodgers','EliManning']
final = data[data['Player_Name'].isin(QB)]

In [53]:
final.shape

(5, 13)

In [54]:
final

     Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name
0   IND  QB  450  679  4700  33  17  73  16    91   0   2  PeytonManning
1   NOR  QB  448  658  4620  33  22  80  25   185   4   5      DrewBrees
7   NYG  QB  339  539  4002  31  25  92  16   117   1   1     EliManning
10  NWE  QB  324  492  3900  36   4  79  25   175   2   3       TomBrady
13  GNB  QB  312  475  3922  28  11  86  31   193   0   1   AaronRodgers

In [187]:
# TOM BRADY V/S PEYTON MANNING
year_col = []

for i in range(2001,2002):
    
    # For Tom Brady vs Peyton Manning
    # As we are comparing 2 players i.e. length of QB list 
    # we have
    QB = ['PeytonManning','TomBrady']

    for j in range(len(QB)):
        year_col.append(i)
        
    yr = str(i)
    file_name = yr + '_NFL_Passing.csv'
    dataa = 'data_' + yr
    dataa = pd.read_csv(file_name)
    dataa.fillna(0, inplace=True)
        
    PlayerName = []
    
    for i in dataa['Player']:
        i = re.sub('[^A-Za-z0-9]+','',i)
        PlayerName.append(i)
    
    dataa['Player_Name'] = PlayerName
    dataa = dataa.drop(dataa.columns[0], axis=1)
        
    QB = ['PeytonManning','TomBrady']
    final_data2 = dataa[dataa['Player_Name'].isin(QB)]
    
    final_data2['Yr'] = year_col
    final_data2.reset_index(drop=True, inplace=True)
    
    #colss = final_data.columns.tolist()
    #colss = colss[-1:] + colss[:-1]
     
    print(final_data2)

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name    Yr
0  IND  QB  343  547  4131  26  23  86  29   232   0   0  PeytonManning  2001
1  NWE  QB  264  413  2843  18  12  91  41   216   3   3       TomBrady  2001

D:\ANA\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [183]:
final_data1

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name  Year
0  IND  QB  343  547  4131  26  23  86  29   232   0   0  PeytonManning  2001
1  NWE  QB  264  413  2843  18  12  91  41   216   3   3       TomBrady  2001

In [73]:
colss = final_data.columns.tolist()
colss = colss[-1:] + colss[:-1]
print(colss)

['Year', 'Tm', 'Pos', 'Cmp', 'Att', 'Yds', 'TD', 'Int', 'Lng', 'Sk', 'Yds.1', '4QC', 'GWD', 'Player_Name']

In [74]:
colss = colss[-1:] + colss[:-1]
print(colss)

['Player_Name', 'Year', 'Tm', 'Pos', 'Cmp', 'Att', 'Yds', 'TD', 'Int', 'Lng', 'Sk', 'Yds.1', '4QC', 'GWD']

In [75]:
print(final_data)

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name  Year
0  IND  QB  343  547  4131  26  23  86  29   232   0   0  PeytonManning  2001
1  NWE  QB  264  413  2843  18  12  91  41   216   3   3       TomBrady  2001

In [76]:
#  TOM BRADY V/S PEYTON MANNING
print(final_data[colss])

     Player_Name  Year   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD
0  PeytonManning  2001  IND  QB  343  547  4131  26  23  86  29   232   0   0
1       TomBrady  2001  NWE  QB  264  413  2843  18  12  91  41   216   3   3

In [78]:
print(final_data[colss])

     Player_Name  Year   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD
0  PeytonManning  2001  IND  QB  343  547  4131  26  23  86  29   232   0   0
1       TomBrady  2001  NWE  QB  264  413  2843  18  12  91  41   216   3   3

In [79]:
final_data = final_data[colss]

In [80]:
print(final_data)

     Player_Name  Year   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD
0  PeytonManning  2001  IND  QB  343  547  4131  26  23  86  29   232   0   0
1       TomBrady  2001  NWE  QB  264  413  2843  18  12  91  41   216   3   3

In [81]:
f1 = final_data
print(f1)

     Player_Name  Year   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD
0  PeytonManning  2001  IND  QB  343  547  4131  26  23  86  29   232   0   0
1       TomBrady  2001  NWE  QB  264  413  2843  18  12  91  41   216   3   3

In [89]:
f1

     Player_Name  Year   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD
0  PeytonManning  2001  IND  QB  343  547  4131  26  23  86  29   232   0   0
1       TomBrady  2001  NWE  QB  264  413  2843  18  12  91  41   216   3   3

In [99]:
for i in final_data.index:
    #print(i)
    f2 = f2.append(final_data.iloc[i],ignore_index=False, verify_integrity=False, sort=None)

In [98]:
f2 = final_data

In [110]:
final_data

     Player_Name  Year   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD
0  PeytonManning  2001  IND  QB  343  547  4131  26  23  86  29   232   0   0
1       TomBrady  2001  NWE  QB  264  413  2843  18  12  91  41   216   3   3

In [107]:
type(final_data)

pandas.core.frame.DataFrame

In [108]:
group_by_f2 = final_data.groupby('Player_Name')

In [109]:
group_by_f2.get_group('PeytonManning')

     Player_Name  Year   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD
0  PeytonManning  2001  IND  QB  343  547  4131  26  23  86  29   232   0   0

In [111]:
TB12 = group_by_f2.get_group('TomBrady')

In [112]:
TB12

  Player_Name  Year   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD
1    TomBrady  2001  NWE  QB  264  413  2843  18  12  91  41   216   3   3

In [113]:
final_data

     Player_Name  Year   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD
0  PeytonManning  2001  IND  QB  343  547  4131  26  23  86  29   232   0   0
1       TomBrady  2001  NWE  QB  264  413  2843  18  12  91  41   216   3   3

In [120]:
a = final_data.shape[0]

In [122]:
a

2

In [114]:
type(final_data)

pandas.core.frame.DataFrame

In [133]:
final_data

     Player_Name  Year   Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD
0  PeytonManning  2001  IND  QB  343  547  4131  26  23  86  29   232   0   0
1       TomBrady  2001  NWE  QB  264  413  2843  18  12  91  41   216   3   3

In [218]:
# TOM BRADY V/S PEYTON MANNING

def brady_manning(year1, year2):


    for i in range(year1,year2):
        yr_col = []
    # For Tom Brady vs Peyton Manning
    # As we are comparing 2 players i.e. length of QB list 
    # we have
        QBs = ['PeytonManning','TomBrady']
        
        yrs = str(i)
        file_name = yrs + '_NFL_Passing.csv'
        dataframe = pd.read_csv(file_name)
        dataframe.fillna(0, inplace=True)
            
        PlayerNames = []
    
        for pl in dataframe['Player']:
            pl = re.sub('[^A-Za-z0-9]+','',pl)
            PlayerNames.append(pl)
    
        dataframe['Player_Name'] = PlayerNames
        dataframe = dataframe.drop(dataframe.columns[0], axis=1)
        
        final_dataframe = dataframe[dataframe['Player_Name'].isin(QBs)]
    
        final_dataframe.reset_index(drop=True, inplace=True)
        rows_num = final_dataframe.shape[0]
    
        for j in range(rows_num):
            yr_col.append(i)
        
        final_dataframe['Yr'] = yr_col
        final_df = final_dataframe
        #print('final_df \n', final_df)
                    
        #if i == year1:
            #rivalry = final_df
        
        #rivalry = riavlry.append(final_df)
        
        if i == year1:
            rivalry = final_df
        else:
            rivalry = rivalry.append(final_df)

     
    return rivalry

In [163]:
brady_manning(2002,2003)

D:\ANA\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name    Yr
0  NWE  QB  373  601  3764  28  14  49  31   190   2   3       TomBrady  2002
1  IND  QB  392  591  4200  27  19  69  23   145   4   5  PeytonManning  2002

In [179]:
ashu = brady_manning(2002,2003)

D:\ANA\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [180]:
print(ashu)

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name    Yr
0  NWE  QB  373  601  3764  28  14  49  31   190   2   3       TomBrady  2002
1  IND  QB  392  591  4200  27  19  69  23   145   4   5  PeytonManning  2002

In [188]:
final_data2

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name    Yr
0  IND  QB  343  547  4131  26  23  86  29   232   0   0  PeytonManning  2001
1  NWE  QB  264  413  2843  18  12  91  41   216   3   3       TomBrady  2001

In [189]:
cc = final_data2.append(ashu)

In [190]:
cc

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name    Yr
0  IND  QB  343  547  4131  26  23  86  29   232   0   0  PeytonManning  2001
1  NWE  QB  264  413  2843  18  12  91  41   216   3   3       TomBrady  2001
0  NWE  QB  373  601  3764  28  14  49  31   190   2   3       TomBrady  2002
1  IND  QB  392  591  4200  27  19  69  23   145   4   5  PeytonManning  2002

In [191]:
print(type(cc))

<class 'pandas.core.frame.DataFrame'>

In [192]:
group_by_f2 = cc.groupby('Player_Name')

In [196]:
Peyton_Manning = group_by_f2.get_group('PeytonManning')

In [197]:
Tom_Brady = group_by_f2.get_group('TomBrady')

In [198]:
Peyton_Manning

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name    Yr
0  IND  QB  343  547  4131  26  23  86  29   232   0   0  PeytonManning  2001
1  IND  QB  392  591  4200  27  19  69  23   145   4   5  PeytonManning  2002

In [199]:
Tom_Brady

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD Player_Name    Yr
1  NWE  QB  264  413  2843  18  12  91  41   216   3   3    TomBrady  2001
0  NWE  QB  373  601  3764  28  14  49  31   190   2   3    TomBrady  2002

In [200]:
final_data2

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name    Yr
0  IND  QB  343  547  4131  26  23  86  29   232   0   0  PeytonManning  2001
1  NWE  QB  264  413  2843  18  12  91  41   216   3   3       TomBrady  2001

In [219]:
answer = brady_manning(2001, 2004)

D:\ANA\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [220]:
print(answer)

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name    Yr
0  IND  QB  343  547  4131  26  23  86  29   232   0   0  PeytonManning  2001
1  NWE  QB  264  413  2843  18  12  91  41   216   3   3       TomBrady  2001
0  NWE  QB  373  601  3764  28  14  49  31   190   2   3       TomBrady  2002
1  IND  QB  392  591  4200  27  19  69  23   145   4   5  PeytonManning  2002
0  IND  QB  379  566  4267  29  10  79  18   107   3   4  PeytonManning  2003
1  NWE  QB  317  527  3620  23  12  82  32   219   3   5       TomBrady  2003

In [223]:
legacy = brady_manning(2001,2011)

D:\ANA\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [224]:
print(legacy)

    Tm Pos  Cmp  Att   Yds  TD Int Lng  Sk Yds.1 4QC GWD    Player_Name    Yr
0  IND  QB  343  547  4131  26  23  86  29   232   0   0  PeytonManning  2001
1  NWE  QB  264  413  2843  18  12  91  41   216   3   3       TomBrady  2001
0  NWE  QB  373  601  3764  28  14  49  31   190   2   3       TomBrady  2002
1  IND  QB  392  591  4200  27  19  69  23   145   4   5  PeytonManning  2002
0  IND  QB  379  566  4267  29  10  79  18   107   3   4  PeytonManning  2003
1  NWE  QB  317  527  3620  23  12  82  32   219   3   5       TomBrady  2003
0  IND  QB  336  497  4557  49  10  80  13   101   2   4  PeytonManning  2004
1  NWE  QB  288  474  3692  28  14  50  26   162   0   1       TomBrady  2004
0  NWE  QB  334  530  4110  26  14  71  26   188   3   4       TomBrady  2005
1  IND  QB  305  453  3747  28  10  80  17    81   1   1  PeytonManning  2005
0  IND  QB  362  557  4397  31   9  68  14    86   3   3  PeytonManning  2006
1  NWE  QB  319  516  3529  24  12  62  26   175   2   2       TomBrady  2006
0  NWE  QB  398  578  4806  50   8  69  21   128   4   4       TomBrady  2007
1  IND  QB  337  515  4040  31  14  73  21   124   1   2  PeytonManning  2007
0  IND  QB  371  555  4002  27  12  75  14    86   4   6  PeytonManning  2008
1  NWE   0    7   11    76   0   0  26   0     0   0   0       TomBrady  2008
0  IND  QB  393  571  4500  33  16  80  10    74   7   7  PeytonManning  2009
1  NWE  QB  371  565  4398  28  13  81  16    86   1   1       TomBrady  2009
0  IND  QB  450  679  4700  33  17  73  16    91   0   2  PeytonManning  2010
1  NWE  QB  324  492  3900  36   4  79  25   175   2   3       TomBrady  2010